{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/nav-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% block header %}
    {% endblock header %}
    <title>{{ title | title }}</title>
</head>
<body>

<div class="topnav">
    <a {% if route == '/home' %} class="active" {% endif %} href="/eshop/home">Home</a>
    <a {% if route == '/login' %} class="active" {% endif %} href="/eshop/login">Login</a>
    <a {% if route == '/register' %} class="active" {% endif %} href="/eshop/register">Register</a>
    <a {% if route == '/products' %} class="active" {% endif %} href="/eshop/products">Store</a>
    <a {% if route == '/add_product' %} class="active" {% endif %} href="/eshop/add_product">Add Product</a>
    <a {% if route == '/edit_products' %} class="active" {% endif %} href="/eshop/edit_products">Edit Products</a>
</div>


{% block body %}
    <h1>Your Default Page Index</h1>
{% endblock body %}
</body>
</html>