{% extends 'index.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/nav-style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/products-style.css' %}"/>
{% endblock header %}

{% block body %}
<div class="product-list-container">
    {% for produc in all_products %}
        <div class="product-card">
        <img src="https://m.economictimes.com/thumb/msid-100966456,width-1200,height-900,resizemode-4,imgsize-63314/why-become-a-product-manager.jpg" alt="Product Name">
        <h3 class="product-title">{{ produc.name}}</h3>
        <p class="product-description">{{ produc.description }}</p>
        <p class="product-price">${{ produc.price }}</p>
      </div>
    {% endfor %}
</div>
{% endblock body %}
